pandas
numpy
langchain==0.3.23
langchain-community
langchain_experimental
langchain_postgres
langchain-aws
pubget
pypdf
boto3
rich
typer
joblib
funcy
s3fs
toolz
unstructured
# required for pptx
networkx
openpyxl
python-pptx
rapidocr-onnxruntime
python-magic
pydantic>=2
